In [21]:
import pandas as pd

In [4]:
airbnb_search_details = pd.read_csv('airbnb_search_details.csv')
airbnb_search_details.head()

,id,price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,host_since,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,12513361,555.68,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",""Sm...",2,1,Real Bed,flexible,False,NYC,t,89%,18-11-2015 0:00,East Harlem,3,87.0,10029,0,1
1,7196412,366.36,Cabin,Private room,"{""Wireless Internet"",Kitchen,Washer,Dryer,""Smo...",2,3,Real Bed,moderate,False,LA,f,100%,10-09-2016 0:00,Valley Glen,14,91.0,91606,1,1
2,16333776,482.83,House,Private room,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",2,1,Real Bed,strict,True,SF,t,100%,26-12-2013 0:00,Richmond District,117,96.0,94118,1,1
3,1786412,448.86,Apartment,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1,Real Bed,strict,True,NYC,t,93%,11-05-2010 0:00,Williamsburg,8,86.0,11211,1,1
4,14575777,506.89,Villa,Private room,"{TV,Internet,""Wireless Internet"",""Air conditio...",6,2,Real Bed,strict,True,LA,t,70%,22-10-2015 0:00,NaN,2,100.0,90703,3,3

In [5]:
airbnb_search_details['host_since'] = pd.to_datetime(airbnb_search_details['host_since'])

In [7]:
airbnb_search_details['host_since'] = airbnb_search_details['host_since'].dt.strftime('%Y-%m-%d')

In [8]:
airbnb_search_details['host_since'] = pd.to_datetime(airbnb_search_details['host_since'])

In [9]:
airbnb_search_details.to_csv('airbnb_search_details.csv')

_________

In [13]:
airbnb_contacts = pd.read_csv('airbnb_contacts.csv')
airbnb_contacts.head()

,id_guest,id_host,id_listing,ts_contact_at,ts_reply_at,ts_accepted_at,ts_booking_at,ds_checkin,ds_checkout,n_guests,n_messages
0,86b39b70-965b-479d-a0b0-719b195acea2,1dfb22ec-c20e-4bf9-b161-1607afa25c5a,d668de42-122a-45cd-b91f-91a70895f902,18-04-2014 9:32,18-04-2014 9:39,NaN,NaN,31-12-2014 0:00,02-01-2015 0:00,7,5
1,14f943bb-74e9-458b-be55-203dc7220688,3347390d-8670-4870-9dab-da30f3700141,14c47fb8-e831-4044-9674-9b3fd0499193,06-10-2014 6:55,06-10-2014 10:06,06-10-2014 10:06,06-10-2014 10:06,03-11-2014 0:00,07-11-2014 0:00,2,8
2,425aa1ed-82ab-4ecf-b62f-d61e1848706d,02cafb86-5445-45cc-80f2-405291578356,c5a4a913-a094-4a9d-82e2-0b2d4f9d9eeb,04-10-2014 5:02,04-10-2014 23:10,NaN,NaN,02-11-2014 0:00,09-11-2014 0:00,2,2
3,bb490ede-8a70-4d61-a2e8-625855a393e2,f49c3095-58de-4b8d-9d5b-3bfceceb47d8,27f4b429-d544-464f-b4b5-3c09fd5992e7,31-08-2014 11:46,31-08-2014 16:48,NaN,NaN,03-11-2014 0:00,07-11-2014 0:00,2,5
4,b2fda15a-89bb-4e6e-ae81-8b21598e2482,71f1d49e-2ff4-4d72-b8e6-fd4c67feaa74,95fb78ca-8e6e-436a-9830-949d995ad14f,08-10-2014 15:07,08-10-2014 15:32,08-10-2014 15:32,08-10-2014 22:21,06-11-2014 0:00,09-11-2014 0:00,2,10

In [14]:
airbnb_contacts['ds_checkin'] = pd.to_datetime(airbnb_contacts['ds_checkin'])
airbnb_contacts['ds_checkin']  = airbnb_contacts['ds_checkin'] .dt.strftime('%Y-%m-%d')
airbnb_contacts['ds_checkin'] = pd.to_datetime(airbnb_contacts['ds_checkin'])

airbnb_contacts['ds_checkin'].head()

----------------

In [18]:
airbnb_contacts['ds_checkout'] = pd.to_datetime(airbnb_contacts['ds_checkout'])
airbnb_contacts['ds_checkout']  = airbnb_contacts['ds_checkout'] .dt.strftime('%Y-%m-%d')
airbnb_contacts['ds_checkout'] = pd.to_datetime(airbnb_contacts['ds_checkout'])
airbnb_contacts['ds_checkout'].head()

0   2015-02-01
1   2014-07-11
2   2014-09-11
3   2014-07-11
4   2014-09-11
Name: ds_checkout, dtype: datetime64[ns]

In [19]:
airbnb_contacts.to_csv('airbnb_contacts.csv')

-----

In [20]:
airbnb_apartments = pd.read_csv('airbnb_apartments.csv')
airbnb_apartments.head()

   host_id apartment_id apartment_type  n_beds  n_bedrooms country        city
0        0           A1           Room       1           1     USA    New York
1        0           A2           Room       1           1     USA  New Jersey
2        0           A3           Room       1           1     USA  New Jersey
3        1           A4      Apartment       2           1     USA     Houston
4        1           A5      Apartment       2           1     USA   Las Vegas

__________

In [80]:
airbnb_searches = pd.read_csv('airbnb_searches.csv')
airbnb_searches.head()

,ds,id_user,ds_checkin,ds_checkout,n_searches,n_nights,n_guests_min,n_guests_max,origin_country,filter_price_min,filter_price_max,filter_room_types,filter_neighborhoods
0,11/10/2014 0:00,67aece73-e112-4e9e-9e05-8a2a94b003b9,NaN,NaN,5,NaN,1,1,IT,0.0,99.0,",Private room",NaN
1,1/10/2014 0:00,6cbb33d1-6ecc-4f74-8b6a-a43d07d484b6,4/10/2014,7/10/2014,11,3.0,3,3,ES,0.0,567.0,",Entire home/apt,Entire home/apt,Private room,...",NaN
2,3/10/2014 0:00,aa9cf5bf-5667-4212-8018-1cb8beee530e,11/14/2014,11/16/2014,17,2.0,2,2,GB,0.0,171.0,",Entire home/apt",NaN
3,9/10/2014 0:00,3e6c2466-74fe-44c0-a6f3-dda79755d30a,2/26/2015,2/3/2015,9,4.0,1,4,GB,0.0,240.0,",Entire home/apt",NaN
4,13-10-2014 0:00,a09bf912-b21d-4859-b194-8512c30695f6,10/18/2014,10/22/2014,7,4.0,1,2,GB,NaN,NaN,",Entire home/apt",NaN

In [73]:
airbnb_searches.head(10)

,ds,id_user,ds_checkin,ds_checkout,n_searches,n_nights,n_guests_min,n_guests_max,origin_country,filter_price_min,filter_price_max,filter_room_types,filter_neighborhoods
0,11/10/2014 0:00,67aece73-e112-4e9e-9e05-8a2a94b003b9,NaN,NaN,5,NaN,1,1,IT,0.0,9.900000e+01,",Private room",NaN
1,1/10/2014 0:00,6cbb33d1-6ecc-4f74-8b6a-a43d07d484b6,4/10/2014,7/10/2014,11,3.0,3,3,ES,0.0,5.670000e+02,",Entire home/apt,Entire home/apt,Private room,...",NaN
2,3/10/2014 0:00,aa9cf5bf-5667-4212-8018-1cb8beee530e,11/14/2014,11/16/2014,17,2.0,2,2,GB,0.0,1.710000e+02,",Entire home/apt",NaN
3,9/10/2014 0:00,3e6c2466-74fe-44c0-a6f3-dda79755d30a,2/26/2015,2/3/2015,9,4.0,1,4,GB,0.0,2.400000e+02,",Entire home/apt",NaN
4,13-10-2014 0:00,a09bf912-b21d-4859-b194-8512c30695f6,10/18/2014,10/22/2014,7,4.0,1,2,GB,NaN,NaN,",Entire home/apt",NaN
5,1/10/2014 0:00,0f4ea370-702c-4f08-a00d-98e67c2a3574,10/10/2014,12/10/2014,16,2.0,6,8,US,0.0,3.450000e+02,",Entire home/apt",NaN
6,8/10/2014 0:00,b2fda15a-89bb-4e6e-ae81-8b21598e2482,NaN,NaN,4,NaN,1,2,FR,0.0,7.800000e+01,",Private room",NaN
7,4/10/2014 0:00,0f4ea370-702c-4f08-a00d-98e67c2a3574,10/10/2014,10/13/2014,25,3.0,3,8,US,0.0,2.000000e+02,",Entire home/apt",NaN
8,5/10/2014 0:00,b6a8b1f9-5b40-4edd-91f3-ee522b0f9e5b,12/27/2014,3/1/2015,24,7.0,1,4,FR,91.0,1.073742e+09,Entire home/apt,NaN
9,5/10/2014 0:00,86b39b70-965b-479d-a0b0-719b195acea2,3/13/2015,3/18/2015,4,5.0,5,5,IE,NaN,NaN,Entire home/apt,NaN

In [81]:
airbnb_searches['ds'] = airbnb_searches['ds'].astype(str)

In [82]:
airbnb_searches['ds'] = airbnb_searches['ds'].str.replace(' 0:00','')

In [83]:
airbnb_searches['ds'] = pd.to_datetime(airbnb_searches['ds'])
airbnb_searches['ds']  = airbnb_searches['ds'] .dt.strftime('%Y-%m-%d')
airbnb_searches['ds'] = pd.to_datetime(airbnb_searches['ds'])
airbnb_searches['ds'].head()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_4040\1937155807.py:1: UserWarning: Parsing '13-10-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  airbnb_searches['ds'] = pd.to_datetime(airbnb_searches['ds'])
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_4040\1937155807.py:1: UserWarning: Parsing '14-10-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  airbnb_searches['ds'] = pd.to_datetime(airbnb_searches['ds'])

0   2014-11-10
1   2014-01-10
2   2014-03-10
3   2014-09-10
4   2014-10-13
Name: ds, dtype: datetime64[ns]

In [84]:
airbnb_searches['ds_checkin'] = pd.to_datetime(airbnb_searches['ds_checkin'])
airbnb_searches['ds_checkin']  = airbnb_searches['ds_checkin'] .dt.strftime('%Y-%m-%d')
airbnb_searches['ds_checkin'] = pd.to_datetime(airbnb_searches['ds_checkin'])
airbnb_searches['ds_checkin'].head()

0          NaT
1   2014-04-10
2   2014-11-14
3   2015-02-26
4   2014-10-18
Name: ds_checkin, dtype: datetime64[ns]

In [85]:
airbnb_searches['ds_checkout'] = pd.to_datetime(airbnb_searches['ds_checkout'])
airbnb_searches['ds_checkout']  = airbnb_searches['ds_checkout'] .dt.strftime('%Y-%m-%d')
airbnb_searches['ds_checkout'] = pd.to_datetime(airbnb_searches['ds_checkout'])
airbnb_searches['ds_checkout'].head()

0          NaT
1   2014-07-10
2   2014-11-16
3   2015-02-03
4   2014-10-22
Name: ds_checkout, dtype: datetime64[ns]

In [86]:
airbnb_searches.to_csv('airbnb_searches.csv',index=False)